# files
.DS_Store
Thumbs.db
*.sql
/.idea/

/*.log
/*.txt
/*.xml
/*.dt
/.htaccess
/scss/prepros.cfg
/psd
/verstka/psd

# core
bitrix/cache/
bitrix/managed_cache/
bitrix/stack_cache/
bitrix/admin/sqlnet.log
bitrix/sqlnet.log
bitrix/tmp/*
bitrix/log/*
bitrix/php_interface/dbconn.php
bitrix/.settings.php
bitrix/backup/
bitrix/*.log
# upload
/upload/*
!/upload/files/
/cgi-bin/
