.left-col{
  margin-left: 0;
  float: left;

  &--shift160{
    margin-left: 160px;
  }
}
.right-col{
  margin-right: 0;
  float: right;
}
.single-col{
  clear: both;
}
.centered-col{
  clear: both;
  float: none;
  margin-left: auto;
  margin-right:auto;
}

.hide-block{
  display: none;
}
.marg10-10{
  margin-top: 10px;
  margin-bottom: 10px;
}