

.left-col{
  margin-left: 0;
  float: left;
}
.right-col{
  margin-right: 0;
  float: right;
}
.single-col{
  clear: both;
}
.centered-col{
  clear: both;
  float: none;
  margin: 0 auto;
}

.hide-block{
  display: none;
}
.marg10-10{
  margin: 10px 0 10px;
}