$color-main:  #272727;
$grey: #626262;
$gray-bg:#828285;
$grey-light:#a8a8a8;

$white:      #fff;
$black:      #000;
$color-light: $white;

$blue:    #0099e2;
$dark-blue: #0042fe;

$red:        #f51b49;
$girl-bg:     #f33070;
$green-bg:    #569856;



$main-width: 960px;
$input-height: 35px;

$dir:           "/local/img";
$dir_font:      "../css/fonts";
$dir_tpl_img:   "../img_tpl";
$grid-columns:  12 !default;
$grid-gutter-width: 20px !default;

$text-size10: 10px;
$text-size12: 12px;
$text-size13: 13px;
$text-size14: 14px;
$text-size15: 15px;
$text-size16: 16px;
$text-size17: 17px;
$text-size18: 18px;
$text-size20: 20px;
$padding10: 10px 0 10px;
$padding15: 15px 0 15px;
$padding15: 25px 0 25px;

$width-2: $main-width - ($main-width/$grid-columns)*2 - 18px;

$import: 0;//Импортируем ли мы шрифты